<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Even Keel</title>

		<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smooth-scrollbar.css') }}" />

    <link rel="stylesheet" href="http://getskeleton.com/dist/css/normalize.css">
<!--
    <link rel="stylesheet" href="http://getskeleton.com/dist/css/skeleton.css">
-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/validation.js') }}"></script>
  </head>
  <body>
    <div id="app" class="container"></div>
    <script src="{{ url_for('static', filename='dist/build.js') }}"></script>
  </body>
</html>