<template>
  <div>
    <div class="dashboardActions">
      <h1>Workouts</h1>
      <button class="deleteButton">Delete Selected</button>
      <button class="addButton" @click="showNewWorkoutModal">Add Workout</button>
    </div>

<!-- 
**********

Workouts

**********
-->
    
    <v-data-table
      v-bind:headers="workoutHeader"
      v-bind:items="userWorkouts"
      class="mainTable workoutTable"
      v-model="selected"
      item-key="WorkoutID"
      select-all
      v-bind:rows-per-page-items="defaultRowsPerPage"
      v-bind:pagination.sync="workoutPagination"
      id="dashboardDataTable"
      ref="workoutRef"
    >
      <template slot="items" slot-scope="props">
        <tr class="workoutRow" @click="expandWorkout($event, props)" @expand-new-workout="expandNewWorkout(props, props.item.WorkoutID)">
          <td class="rowCheckbox">
            <v-icon medium v-bind:class="{ expandedRow: props.expanded }">keyboard_arrow_right</v-icon>
            <v-checkbox
              primary
              v-model="props.selected"
            ></v-checkbox>
          </td>
<!--          <td>{{ props.item.WorkoutDescription }}</td>-->
          
          <td>
            <v-text-field
              name="workoutDescription"
              label="Workout Description"
              v-model="props.item.WorkoutDescription"
              :id="'editWorkoutTextField'+props.item.WorkoutID"
              :disabled="!props.item.editBool"
              @keyup.enter="editWorkout('Workout', props.item.WorkoutID)"
              @keyup.esc="editWorkout('Workout', props.item.WorkoutID, 'esc')"
            ></v-text-field>
          </td>
          <td>{{ props.item.CreateDT | dateTime }}</td>
          <td class="workoutTableIcons">
            <v-tooltip v-if="!props.item.editBool" bottom>
              <v-icon medium class="actionIcon" slot="activator" @click="viewWorkoutNotes($event, props.item.WorkoutID)">description</v-icon>
              <span>Workout Notes</span>
            </v-tooltip>
            <v-tooltip v-if="!props.item.editBool" bottom>s
              <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('Workout', props.item.WorkoutID)" class="editIcon">edit</v-icon>
              <span>Edit this workout</span>
            </v-tooltip>
            <v-tooltip v-if="!props.item.editBool" bottom>
              <v-icon medium class="actionIcon" slot="activator" @click="showNewWorkoutActivityModal()">queue</v-icon>
              <span>Add New Activity</span>
            </v-tooltip>
            <v-tooltip v-if="props.item.editBool" bottom>
              <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('Workout', props.item.WorkoutID, 'esc')">clear</v-icon>
              <span>Cancel Changes</span>
            </v-tooltip>
            <v-tooltip v-if="props.item.editBool" bottom>
              <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('Workout', props.item.WorkoutID)">save</v-icon>
              <span>Save Changes</span>
            </v-tooltip>
          </td>
        </tr>
      </template>
<!-- 
**********

Activities 

**********
-->
      <template slot="expand" slot-scope="props">
        <v-dialog v-model="newWorkoutActivityModal" persistent max-width="400" v-on:keydown.esc="newWorkoutActivityModal=!newWorkoutActivityModal">
      
            <v-card>
              <v-card-title>Add an activity to this workout:</v-card-title>
              <v-text-field label="Activity Description" required v-model="newWorkoutActivity.workoutActivityDescription" autofocus></v-text-field>
              <v-card-actions>
                <v-btn color="primary darken-1" flat small @click="newWorkoutActivityModal=!newWorkoutActivityModal">Cancel</v-btn>
                <v-btn color="green darken-1" flat small @click="addWorkoutActivity(props.item.WorkoutID, newWorkoutActivity.workoutActivityDescription)">Add Activity</v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>
        
        <v-data-table
          v-bind:headers="workoutActivityHeader"
          v-bind:items="userWorkoutActivities"
          v-bind:rows-per-page-items="workoutActivityRowsPerPage"
          hide-actions
          hide-headers
          item-key="WorkoutActivityID"
          class="workoutTable"
          v-bind:pagination.sync="workoutActivityPagination"
          ref="workoutActivityRef"
        >
          <template slot="items" slot-scope="workout_activity_props">
            <tr @click="expandWorkoutSet(workout_activity_props)" v-if="props.item.WorkoutID == workout_activity_props.item.WorkoutID">
              <td class="expandedRowPadding"></td>
              <td class="rowCheckbox">
                <v-icon medium v-bind:class="{ expandedRow: workout_activity_props.expanded }">keyboard_arrow_right</v-icon>
              </td>
              <td><v-text-field
                name="workoutActivityDescription"
                label="Workout Activity Description"
                v-model="workout_activity_props.item.WorkoutActivityDescription"
                :id="'editWorkoutActivityTextField'+workout_activity_props.item.WorkoutActivityID"
                :disabled="!workout_activity_props.item.editBool"
                @keyup.enter="editWorkout('WorkoutActivity', workout_activity_props.item.WorkoutActivityID)"
                @keyup.esc="editWorkout('WorkoutActivity', workout_activity_props.item.WorkoutActivityID, 'esc')"
              ></v-text-field>
              </td>
              <td class="workoutTableIcons">
                <v-tooltip v-if="!workout_activity_props.item.editBool" bottom>
                  <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('WorkoutActivity', workout_activity_props.item.WorkoutActivityID)" class="editIcon">edit</v-icon>
                  <span>Edit this activity</span>
                </v-tooltip>
                <v-tooltip v-if="!workout_activity_props.item.editBool" bottom>
                  <v-icon medium class="actionIcon" slot="activator" @click="showNewWorkoutSetModal()">queue</v-icon>
                  <span>Add New Set</span>
                </v-tooltip>
                <v-tooltip v-if="workout_activity_props.item.editBool" bottom>
                  <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('WorkoutActivity', workout_activity_props.item.WorkoutActivityID, 'esc')">clear</v-icon>
                  <span>Cancel Changes</span>
                </v-tooltip>
                <v-tooltip v-if="workout_activity_props.item.editBool" bottom>
                  <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('WorkoutActivity', workout_activity_props.item.WorkoutActivityID)">save</v-icon>
                  <span>Save Changes</span>
                </v-tooltip>
              </td>
            </tr>
          </template>          
          
<!-- 
**********

Workout Sets 

**********
-->
            
          <template slot="expand" slot-scope="props2">

            <v-dialog v-model="newWorkoutSetModal" persistent max-width="800px" v-on:keydown.esc="newWorkoutSetModal=!newWorkoutSetModal" v-on:keydown.enter="addWorkoutSet(props2.item.WorkoutActivityID, props.item.WorkoutID)">
              <v-card tile class="newSetCard">
                <v-toolbar card dark color="primary">
                  <v-btn class="closeButton" icon @click.native="newWorkoutSetModal=!newWorkoutSetModal" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                  <v-toolbar-title>Add a new set to this activity:</v-toolbar-title>
                </v-toolbar>
<!--                <v-card-title>Add a new set to this activity:</v-card-title>-->
                <v-select label="Set Type" 
                    v-model="newWorkoutSet.workoutSetTypeID"
                    v-bind:items="workoutSetTypes"
                    item-text="WorkoutSetTypeDescription"
                    item-value="WorkoutSetTypeID"
                    v-if="workoutSetTypes.length > 1"
                    class="newSetType"
                    autofocus
                    @click.native="clickTest"
                >
                </v-select>
                <v-text-field label="Description" v-model="newWorkoutSet.workoutSetDescription" class="newSetDescription"></v-text-field>
                <br>
                <span class="workoutSetTypeGroup" v-if="newWorkoutSet.workoutSetTypeID==5">
                  <h3>Weight Workout Details:</h3>
                  <v-text-field label="Weight" v-model="newWorkoutSet.workoutSetWeight" class="newSetWeight"></v-text-field>
                  <v-text-field label="Reps" v-model="newWorkoutSet.workoutSetReps" class="newSetReps"></v-text-field>
                </span>
                <span class="workoutSetTypeGroup" v-else>
                  <h3>Distance Workout Details:</h3>
                  <v-select label="Units" 
                      v-model="newWorkoutSet.workoutSetDistanceTypeID"
                      v-bind:items="distanceTypes"
                      item-text="DistanceTypeDescription"
                      item-value="DistanceTypeID"
                      v-if="distanceTypes.length > 1"
                      class="newSetDistanceUnits"
                  >
                  </v-select>
                  <v-text-field label="Distance" v-model="newWorkoutSet.workoutSetDistance" class="newSetDistance"></v-text-field>
                  <v-text-field label="Cadence" v-model="newWorkoutSet.workoutSetSPM" class="newSetSPM"></v-text-field>
                  <br>
                  <div class="inlineTimes">
                    <h4>Workout Time:</h4>
                    <v-text-field label="Hours" v-model="newWorkoutSet.workoutSetExerciseTimeHours" class="newSetTimeHours hours"></v-text-field><span>:</span>
                    <v-text-field label="Minutes" v-model="newWorkoutSet.workoutSetExerciseTimeMinutes" class="newSetTimeMinutes minutes"></v-text-field><span>:</span>
                    <v-text-field label="Seconds" v-model="newWorkoutSet.workoutSetExerciseTimeSeconds" class="newSetTimeSeconds seconds"></v-text-field>
                  </div>
                  <div class="inlineTimes">
                    <h4>Split:</h4>
                    <v-text-field label="Minutes" v-model="newWorkoutSet.workoutSetSplitTimeMinutes" class="newSetSplitMinutes minutes"></v-text-field><span>:</span>
                    <v-text-field label="Seconds" v-model="newWorkoutSet.workoutSetSplitTimeSeconds" class="newSetSplitSeconds seconds"></v-text-field>
                  </div>
                </span>
                <div class="restTimes">
                <h4>Rest Time After Set:</h4>
                  <v-text-field label="Minutes" v-model="newWorkoutSet.workoutSetRestTimeMinutes" class="newSetRestMinutes minutes"></v-text-field><span>:</span>
                  <v-text-field label="Seconds" v-model="newWorkoutSet.workoutSetRestTimeSeconds" class="newSetRestSeconds seconds"></v-text-field>
                </div>
                <v-card-actions>
                  <v-btn color="primary darken-1" flat small @click="newWorkoutSetModal=!newWorkoutSetModal">Cancel</v-btn>
                  <v-btn color="green darken-1" flat small @click="addWorkoutSet(props2.item.WorkoutActivityID, props.item.WorkoutID)">Add Set</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-data-table
              v-bind:headers="workoutSetHeader"
              v-bind:items="userWorkoutSets"
              v-bind:rows-per-page-items="workoutRowsPerPage"
              hide-actions
              item-key="WorkoutSetID"
              class="workoutSetTable"
              ref="workoutSetRef"
            >
              <template slot="items" slot-scope="workout_set_props">
                <tr v-if="showWorkoutSet(props2.item.WorkoutActivityID, workout_set_props.item.WorkoutActivityID)" class="workoutSetRow">
<!--                  <td v-if="workout_set_props.item.WorkoutSetID">{{ workout_set_props.item.WorkoutSetID }}</td>-->
                  
                  <td>
                    <v-select label="Set Type" 
                      v-model="workout_set_props.item.WorkoutSetTypeID"
                      v-bind:items="workoutSetTypes"
                      item-text="WorkoutSetTypeDescription"
                      item-value="WorkoutSetTypeID"
                      v-if="workoutSetTypes.length > 1"
                      class="workoutSetType"
                      :disabled="!workout_set_props.item.editBool"
                      autofocus
                      @click.native="clickTest"
                    >
                    </v-select>
                    <v-text-field
                      name="workoutSetDescription"
                      label="Description"
                      v-model="workout_set_props.item.WorkoutSetDescription"
                      :id="'editWorkoutSetTextField'+workout_set_props.item.WorkoutSetID"
                      :disabled="!workout_set_props.item.editBool"
                      @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                      @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                      class="workoutSetDescription"
                    ></v-text-field>
<!--                    {{ workout_set_props.item.WorkoutSetTypeDescription }}</td>-->
                  <td><v-text-field
                    name="workoutSetWeight"
                    v-model="workout_set_props.item.Weight"
                    :id="'editWorkoutSetTextField'+workout_set_props.item.WorkoutSetID"
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>
                  </td>
<!--                  <td>{{ workout_set_props.item.Weight }}</td>-->
                  <td><v-text-field
                    name="workoutSetReps"
                    v-model="workout_set_props.item.Reps"
                    :id="'editWorkoutSetTextField'+workout_set_props.item.WorkoutSetID"
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>
<!--                    {{ workout_set_props.item.Reps }}-->
                  </td>
                  <td>
                    <v-text-field
                    name="workoutSetDistance"
                    v-model="workout_set_props.item.Distance"
                    :id="'editWorkoutSetTextField'+workout_set_props.item.WorkoutSetID"
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>
<!--                    {{ workout_set_props.item.Distance }} -->
                    <span v-if="workout_set_props.item.Distance">{{ workout_set_props.item.DistanceTypeUnits }}
                    </span></td>
                  <td>
                  <span v-if="workout_set_props.item.ExerciseTimeHours > 0 || workout_set_props.item.editBool">
                    <v-text-field
                      name="workoutSetExerciseTimeHours"
                      label="H"
                      v-model="workout_set_props.item.ExerciseTimeHours"
                      suffix=":"
                      auto-grow=true
                      class="timeField"
                      :disabled="!workout_set_props.item.editBool"
                      @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                      @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                    ></v-text-field>
                  </span>
                  <v-text-field
                    name="workoutSetExerciseTimeMinutes"
                    label="M"
                    v-model="workout_set_props.item.ExerciseTimeMinutes"
                    suffix=":"
                    auto-grow=true
                    class="timeField"
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>
                  <v-text-field
                    name="workoutSetExerciseTimeSeconds"
                    label="S"
                    v-model="workout_set_props.item.ExerciseTimeSeconds"
                    auto-grow=true
                    class="timeField seconds"
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>
<!--
                    <br>
                    <v-text-field
                    name="workoutSetHours"
                    label="Workout Time (H:MM:SS.0)"
                    v-model="workout_set_props.item.et"
                    :mask="timeMask"
                    auto-grow=true
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>
-->
<!--                    value="workout_set_props.item.ExerciseTime || secondsToHours"-->
<!--
                    
                    {{ workout_set_props.item.ExerciseTime | secondsToHours }}{{ workout_set_props.item.ExerciseTime | secondsToMinutes }}:{{ workout_set_props.item.ExerciseTime | secondsToSeconds }}
-->
                    </td>
                  <td>
                    <v-text-field
                      name="workoutSetSplitTimeMinutes"
                      label="M"
                      v-model="workout_set_props.item.SplitTimeMinutes"
                      suffix=":"
                      auto-grow=true
                      class="timeField"
                      :disabled="!workout_set_props.item.editBool"
                      @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                      @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                    ></v-text-field>
                    <v-text-field
                      name="workoutSetSplitTimeSeconds"
                      label="S"
                      v-model="workout_set_props.item.SplitTimeSeconds"
                      auto-grow=true
                      class="timeField seconds"
                      :disabled="!workout_set_props.item.editBool"
                      @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                      @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                    ></v-text-field>  
                    
<!--                    {{ workout_set_props.item.SplitTime | secondsToMinutes }}:{{ workout_set_props.item.SplitTime | secondsToSeconds }}-->
                    </td>
                  <td><v-text-field
                    name="workoutSetSPM"
                    v-model="workout_set_props.item.SPM"
                    :id="'editWorkoutSetTextField'+workout_set_props.item.WorkoutSetID"
                    :disabled="!workout_set_props.item.editBool"
                    @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                    @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                  ></v-text-field>  
<!--                    {{ workout_set_props.item.SPM }}-->
                  </td>
                  <td><span v-if="workout_set_props.item.RestTime > 0">
                    <v-text-field
                      name="workoutSetRestTimeMinutes"
                      label="M"
                      v-model="workout_set_props.item.RestTimeMinutes"
                      suffix=":"
                      auto-grow=true
                      class="timeField"
                      :disabled="!workout_set_props.item.editBool"
                      @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                      @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                    ></v-text-field>
                    <v-text-field
                      name="workoutSetTestTimeSeconds"
                      label="S"
                      v-model="workout_set_props.item.RestTimeSeconds"
                      auto-grow=true
                      class="timeField"
                      class="seconds"
                      :disabled="!workout_set_props.item.editBool"
                      @keyup.enter="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)"
                      @keyup.esc="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')"
                    ></v-text-field>
<!--                    {{ workout_set_props.item.RestTime | secondsToMinutes }}:{{ workout_set_props.item.RestTime | secondsToSeconds }}-->
                    </span></td>
                  
                  <td class="workoutTableIcons">
                    <v-tooltip v-if="!workout_set_props.item.editBool" bottom>
                      <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)" class="editIcon">edit</v-icon>
                      <span>Edit this set</span>
                    </v-tooltip>
                    <v-tooltip v-if="workout_set_props.item.editBool" bottom>
                      <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID, 'esc')">clear</v-icon>
                      <span>Cancel Changes</span>
                    </v-tooltip>
                    <v-tooltip v-if="workout_set_props.item.editBool" bottom>
                      <v-icon medium class="actionIcon" slot="activator" @click="editWorkout('WorkoutSet', workout_set_props.item.WorkoutSetID)">save</v-icon>
                      <span>Save Changes</span>
                    </v-tooltip>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </template>
          
        </v-data-table>
      </template>
    
    </v-data-table>
    
    
<!-- 
**********

New Workout Modal

**********
-->    
    
    
    <v-dialog v-model="newWorkoutModal" persistent max-width="400" v-on:keydown.esc="newWorkoutModal=!newWorkoutModal">
      <v-card>
        <v-card-title>Add Workout</v-card-title>
        <v-select label="Type of workout" 
                  required
                  v-model="newWorkout.workoutTypeID"
                  v-bind:items="workoutTypes"
                  item-text="WorkoutTypeDescription"
                  item-value="WorkoutTypeID"
                  v-if="workoutTypes.length > 1"
        >
        </v-select>
        <v-text-field label="Workout Description" required v-model="newWorkout.workoutDescription" v-on:keyup.enter="addWorkout" autofocus></v-text-field>
        <v-card-actions>
          <v-btn color="primary darken-1" flat @click.native="newWorkoutModal = false">Cancel</v-btn>
          <v-btn color="green darken-1" flat @click="addWorkout">Submit</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
    

<!-- 
**********

Workout Notes Modal

**********
-->    
  
    
    
    <v-dialog v-model="workoutNotesModal" persistent max-width="800" v-on:keydown.esc="workoutNotesModal=!workoutNotesModal">
      <v-card>
        <v-toolbar card dark color="primary">
          <v-btn class="closeButton" icon @click.native="workoutNotesModal=false; showNewNoteTextField=false" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Workout Notes</v-toolbar-title>
        </v-toolbar>
        
        <h3 v-if="showNewNoteTextField">Create a new note:</h3>
        <v-text-field label="Workout Note" required v-model="newWorkoutNote.noteContent" multi-line v-if="showNewNoteTextField" autofocus></v-text-field>
        
        <v-card-actions>
          <v-btn color="primary darken-1" flat @click.native="showNewNoteTextField=false" v-if="showNewNoteTextField">Cancel</v-btn>
          <v-btn class="btnCenter" color="green darken-1" flat @click="showCreateNoteForm()" v-if="!showNewNoteTextField">Create New Note</v-btn>
          <v-btn color="green darken-1" flat @click="addNewNote()" v-if="showNewNoteTextField">Add Note</v-btn>
        </v-card-actions>
        
          <v-data-table
            v-bind:headers="workoutNotesHeader"
            v-bind:items="workoutNotes"
            class="notesTable"
            v-bind:rows-per-page-items="notesRowsPerPage"
            v-bind:pagination.sync="workoutNotesPagination"
            id="workoutNotesDataTable"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.CreateDT | dateTime }}</td>
              <td>{{ props.item.FirstName | camel }} {{ props.item.LastName | camel }}</td>
              <td>{{ props.item.NoteContent }}</td>  
            </template>
            <template slot="no-data">
              There are no notes for this workout.  <a @click="showCreateNoteForm()">Create a note to this workout!</a>
            </template>
          </v-data-table>
        
      </v-card>
    </v-dialog>
    
  </div>
</template>

<script src="./workouts.js"></script>